/* Body */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Hero area */
.hero-area {
    background-color: black;
}

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header-content-title {
    color: #F9FAF8;
    font-size: 24px;
}

#header-content-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: #E5E7EB;
}

#hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

#hero-content-words h1 {
    color: #F9FAF8;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0 0 3px #F9FAF8, 0 0 6px #F9FAF8, 0 0 12px blueviolet;
}

#hero-content-words p, #hero-content-words button {
    color: #E5E7EB;
    font-size: 18px;
}

#hero-content-words button {
    background-color: blueviolet;
}

#hero-content-img img{
    display: block;
}

/* Main content area */
.main-content-area {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, black 0%, black 15%, rgba(0, 0, 0, 0)), url("images/outer-space-blue.jpeg");
    background-size: cover;
    background-position: center;
    border-top: 5px solid blueviolet;
    align-items: center;
    margin: -4px;
}

#main-content-title, #main-content-title h3 {
    font-size: 36px;
    font-weight: 900;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#main-content-eight-img-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    gap: 0px;
}

#main-content-inner-planet-title, #main-content-outer-planet-title {
    font-size: 24px;
}

#main-content-inner-planets h5, #main-content-outer-planets h5{
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 0px;
}

#main-content-inner-planets, #main-content-outer-planets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 48px;
    flex-wrap: wrap;
    width: 100%;
}

.main-content-img-slot {
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 4px solid blueviolet;
    border-radius: 36px;
}

.main-content-img-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

/* Quote area */
.quote-area {
    background-color: rgb(200, 174, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

#quote-content-text p, #quote-content-name p {
    font-size: 36px;
    font-weight: 300;
    margin: 0px;
}

/* Sign up area */
.sign-up-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 35px 20%;
    padding: 32px;
    background-color: blueviolet;
}

#sign-up-content-title-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    gap: 10px;

}

#sign-up-content-title-caption h4, #sign-up-content-title-caption p {
    /* This removes margin between these elements so flex box can format */
    margin: 0px;
}

#sign-up-content-button,  #sign-up-content-button button {
    color: #E5E7EB;
}

#sign-up-content-button button {
    background-color: blueviolet;
    border-color: #E5E7EB;
}

/* Footer copyright area */
.footer-copyright-area {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    color: #E5E7EB;
}
