/* Body */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Hero area */
.hero-area {
    background-color: black;
}

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header-content-title {
    color: #F9FAF8;
    font-size: 24px;
}

#header-content-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: #E5E7EB;
}

#header-content-links a {
    color: #E5E7EB;
}

#hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

#hero-content-words h1 {
    color: #F9FAF8;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0 0 3px #F9FAF8, 0 0 6px #F9FAF8, 0 0 12px lightskyblue;
}

#hero-content-words p, #hero-content-words button {
    color: #E5E7EB;
    font-size: 18px;
}

#hero-content-words button {
    padding: 12px;
    background: rgba(162, 214, 246, 0.5);
    border-radius: 36px;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: none;
    transition-duration: 0.35s;
}

#hero-content-words button:hover {
    padding: 12px;
    background: rgba(135, 206, 250, 0.5);
    border-radius: 36px;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: none;
    box-shadow: 0 0 10px 10px rgba(135, 206, 250, 0.25);
}

#hero-content-img img{
    display: block;
}

/* Main content area */
.main-content-area {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    background: linear-gradient(to bottom, black 0%, black 15%, rgba(0, 0, 0, 0)), url("images/outer-space-nasa-large.webp");
    background-size: cover;
    background-position: center;
    border-top: 2.5px solid lightskyblue;
    box-shadow: 0 0 35px 5px lightskyblue;
    align-items: center;
}

#main-content-title, #main-content-title h3 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 3px #F9FAF8, 0 0 6px #F9FAF8, 0 0 12px lightskyblue;
    padding: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
}

#main-content-eight-img-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    gap: 0px;
}

#main-content-inner-planet-title, #main-content-outer-planet-title {
    font-size: 36px;
    color: white;
}

#main-content-inner-planet-title h4, #main-content-outer-planet-title h4 {
    margin-bottom: 16px;
}

#main-content-inner-planets h5, #main-content-outer-planets h5{
    font-size: 16px;
    color: white;
    margin-top: 12px;
    margin-bottom: 0px;
}

#main-content-inner-planets, #main-content-outer-planets {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 48px;
    flex-wrap: wrap;
    width: 100%;
}

.main-content-img-slot {
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;

    /* border: 4px solid blueviolet;
    border-radius: 36px; */

    background: rgba(135, 206, 250, 0.1);
    border-radius: 36px;
    box-shadow: 0 4px 30px rgba(135, 206, 250, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}

.main-content-img-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

/* Quote area */
.quote-area {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

#quote-content-text p {
    font-size: 18px;
    font-weight: 150;
    margin: 0px;
    padding: 8px;
}

#quote-content-name p {
    font-size: 24px;
    font-weight: 300;
    margin: 0px;
    padding: 8px;
}

/* Sign up area */
.sign-up-area {
    background-image: url("images/outer-space-nasa.webp");
    background-size: cover;
}

.sign-up-content-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 35px 20%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 36px;
    
    background: rgba(135, 206, 250, 0.1);
    border-radius: 36px;
    box-shadow: 0 4px 30px rgba(135, 206, 250, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}

#sign-up-content-title-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    gap: 10px;

}

#sign-up-content-title-caption h4, #sign-up-content-title-caption p {
    /* This removes margin between these elements so flex box can format */
    margin: 0px;
}

#sign-up-content-button,  #sign-up-content-button button {
    color: #E5E7EB;
}

#sign-up-content-button button {
    padding: 12px;
    background: rgba(162, 214, 246, 0.5);
    border-radius: 36px;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: none;
    transition-duration: 0.35s;
}

#sign-up-content-button button:hover {
    padding: 12px;
    background: rgba(135, 206, 250, 0.5);
    border-radius: 36px;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: none;
    box-shadow: 0 0 10px 10px rgba(135, 206, 250, 0.25);
}

/* Footer copyright area */
.footer-copyright-area {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    color: #E5E7EB;
}
